$max-w-modal: 600px;
$border-radius-modal: 20px;

.dr-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;

  padding: 0;
  margin: 0;

  &__text {
    font-weight: normal;
  }

  b {
    display: inline-block;
  }

  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden auto;
    padding: 2em 10px;
    z-index: 999;
  }

  &__header {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    padding: 35px 20px;

    > * {
      margin: 0;
      padding: 0;
    }
  }

  &__alert {
    .dr-modal__header {
      display: none;
    }
  }

  &__default {

  }

  &__close {
    @extend .dr-btn__square;
    display: block;
    position: absolute;
    height: 35px;
    width: 35px;
    min-height: 35px;
    min-width: 35px;
    right: 10px;
    top: 10px;
    background: transparent;
    border: none;
    outline: none;
    &:focus {
      outline: none;
    }

    svg {
      stroke: $accent;
    }
  }

  &__content {
    background: $light;
    border-radius: 20px;
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 0;
    height: auto;
    overflow: hidden;
    transform: translateY(-25px) scale(1.1);
    transition: all .3s ease-in;

    > * {
      width: 100%;
    }
  }

  &__footer {
    padding: 2vw 6vw 4vw 6vw;
  }

  &__body {
    padding: 2.5vw 6vw 2vw 6vw;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__title, &__subtitle {

    > * {
      margin: 0;
    }
  }

  $dr-modal-content_md: 1024px;
  $dr-modal-content_sm: 1024px;
  $dr-modal-content_sm_bigger: 600px;


  &-sm {

    .dr-modal__content {
      max-width: 400px;
    }

    &-bigger {
      .dr-modal__content {
        max-width: $dr-modal-content_sm_bigger;
      }
      .dr-modal__body {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 500px;
        margin: 0 auto;
      }
    }


  }


  &-md {

    .dr-modal__content {
      max-width: $dr-modal-content_md;

      > * {
        max-width: calc(#{$dr-modal-content_md} - 20%);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &.is-active {
    opacity: 1;
    visibility: visible;

    .dr-modal {

      &__content {
        transform: translateY(0) scale(1);
      }
      &__overlay {
        opacity: 1;
      }
    }
  }

  &__overlay {
    background-color: transparentize($accent-darker, .5);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all .2s ease-in-out;
  }

  .dr-btn-group {

    > * {
      flex: 1;
      max-width: 200px;
      min-width: 188px;
    }
  }

  &-information {
    .dr-modal__content {
      max-width: 1024px;
    }
    .dr-modal__header {
      padding: 1em 0;
    }
  }

}
.modal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.modal-wpadding {
    > .modal-content {
      padding: 50px 30px 20px 30px;
    }
  }

  > .modal-content {
    padding: 0;
  }

  &-content {
    width: 100%;
    position: relative;
    padding: 50px 30px 20px 30px;
    max-width: $max-w-modal;
    box-shadow: $shadow-green2;
    margin: 0 auto;
    border-radius: $border-radius-modal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 500px;
    overflow-x: hidden; overflow-y: auto;

    &__wrapper {
      width: 100%;
    }

    &.bg-accent__lighter {
      .ic {
        &-x {
          opacity: .5;
        }
      }
    }

    &.bg-accent__darker {
      .ic {
        &-x {
          filter: brightness(1.5);
        }
      }
    }

    &__components {
      padding: 0;

      > * {
        width: 100%;
      }

      .modal {
        &-header {
          padding: 35px 20px;

          > * {
            margin: 0;
          }
        }
        &-footer {
          padding: 0 20px 40px 20px;
        }
        &-body {
          padding: 40px 20px 30px 20px;
        }
      }
    }
  }

  &-close {
    position: absolute;
    right: 13px;
    top: 13px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    > .icon {
      margin: 0;
    }
  }

  &-title {
    margin-bottom: 30px;
    text-align: center;
  }

  &-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
